{% load static %} {% include 'header.html' %}
  <link rel="stylesheet" href="{% static 'css/contact.css'  %}">
  <div class="main">
      <div class="nav"> <a href="/" class="get-line">Home <span></span></a><span class="space"></span>  / <span class="space"></span><a href="" class="get-line">Contact <span></span></a> </div>
        <div class="contact-area">
            <div class="contact-text">
                <p>If you are interested in working or collaborating with us</p>
                <h1>holyherbindia@gmail.com</h1>
            </div>
            <div class="contact-text">
                <p>Have a concern, complaint or a suggestion?</p>
                <h1>support@holyherb.in</h1>
            </div>
            <div class="links">
                <img class="bg" src="{% static 'images/contact-smallbg.png' %}" alt="'">
                <p>connect</p>
                <a class="get-line" href="https://instagram.com/holyherbindia?igshid=1minivec19e0w" rel="noreferrer" target="_blank">Instagram <span></span></a>
                <a class="get-line" href="https://www.facebook.com/HolyHerbIndia/" rel="noreferrer" target="_blank">Facebook <span></span></a>
                <a class="get-line" href="https://youtube.com/channel/UCVpn_pea-KrpVbleKZPB6VA" rel="noreferrer" target="_blank">Youtube <span></span></a>
            </div>
        </div>
        <div class="address">
            <p>G-88 jem vihar colony behind sanganer stadium, Jaipur - 302029</p>
            <p>+91 70736 87707</p>
        </div>
        
  </div>
{% include "footer.html" %}